@{

    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/css/adminstyle/StyleAdminPanel.css" rel="stylesheet" />
    <title>H</title>
</head>
<body>

    <div class="MainContext">
        <div>
            <button id="AddNew">AddNew</button>
            <div class="Filter">
                <select id="listType">
                    <option value="Film">Film</option>
                    <option value="Serial">Serial</option>
                </select>
            </div>
        </div>

        <table class="ListElement">
            <thead>
                <tr>
                    <th>
                        <p>ID</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Evalu.</p>
                    </th>
                    <th>
                        <p>Poster</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="ListElements">
            </tbody>
        </table>


    </div>

    <img id="ShowImg" class="ShowImg" src="">

    <div class="MessageBox" id="MessageBox">
        <div class="Message">
            <p id="msg"></p>
        </div>
        <button onclick="CloseMessage()">Close</button>
    </div>

    <div class="EditObj" id="WinEditObj">
        <div class="MessageBox" style="display:block;">
            <form enctype="multipart/form-data" method="post">
                <div class="def">
                    <input type="text" id="eName" name="name" placeholder="Name" required/>
                    <input type="number" step="0.1" max="10" min="0" id="eEvaluation" name="Evaluation" placeholder="Evaluation" required />
                    <textarea type="text" id="eDescription" name="Description"> </textarea>
                    <input type="file" id="ePosterPath" name="PosterPath" required />
                </div>
                <div id="Additional">
                </div>
            </form>
            <button id="SaveBtn" type="button">Save</button>
            <button id="CancelBtn" type="button">Cancel</button>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="~/js/AdminScript/Panel.js"></script>
</body>
</html>